.itemContainer {
  width: 100%;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.item {
  font-weight: bold;
  padding: 20px;
}

.itemContent {
  transition: color 0.3s ease;
}

.itemContent:hover {
  color: #ec0404;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  float: right;
  padding: 12px 20px;
  border: none;
  background-color: #F9C533;
  color: white;
  margin-top: -5px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #fac942;
}

span[data-checked=true] {
  text-decoration: line-through;
}